.wrapper {
  position: relative;
  &:hover .photo:not(:hover) {
    transform: scale(0.9);
  }
}
.photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
  &:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
    z-index: 1000;
    outline: 1.5rem solid var(--primary-dark);
    border-radius: 0;
  }
}

.first {
  left: 0;
  top: -2rem;
}
.second {
  right: 0;
  top: 2rem;
}

.third {
  left: 20%;
  top: 10rem;
}
