@import "../../styles/global/animations";
.button {
  text-transform: uppercase;
  background-color: var(--bg-color);
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  margin: auto;
  transition: all 0.2s;
  position: relative;
}

.animation {
  animation: moveInBottom 1s ease-in 0.75s;
  animation-fill-mode: backwards;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
