.header {
  min-height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--primary-light-rgb), 0.5),
      rgba(var(--primary-dark-rgb), -0.3)
    ),
    url("../public/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
}
