body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;

  @include respond(tab-land) {
    font-size: 80%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 150%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
