@import "styles/utils/mixins";
.features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--primary-light-rgb), 0.8),
      rgba(var(--primary-dark-rgb), 0.8)
    ),
    url("../../../public/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  margin-top: -11rem;
}

.cardWrapper {
  width: 80%;
  @include respond(tab-port) {
    width: 100%;
  }
  margin: auto;
  @media (max-width: 95rem) {
    flex-wrap: wrap;
    & > * {
      width: 100%;
      flex: 0 0 100% !important;
    }
  }
}
