@import "styles/utils/mixins";

.storyCard {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.2);
  background-color: white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: var(--font-size-default);
  transform: skewX(-12deg);
  & > * {
    transform: skewX(12deg);
  }
  @include respond(tab-land) {
    transform: skewX(-8deg);
    & > * {
      transform: skewX(8deg);
    }
  }
  @include respond(phone) {
    width: 95%;
    transform: unset;
    & > * {
      transform: unset;
    }
  }
  transition: all 0.2s;
  &:hover .caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover .image {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}

.shape {
  width: 15rem;
  height: 15rem;
  float: left;
  background-color: orange;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  @include respond(tab-land) {
    transform: translateX(-3rem) skewX(8deg);
  }
  @include respond(phone) {
    transform: translateX(-3rem);
  }
  position: relative;
}

.image {
  height: 100%;
  transform: scale(1.4);
  transition: all 0.2s;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.2s;
}
