.form {
  .input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: white;
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    color: inherit;
    font-size: 2rem;
    &:placeholder-shown + .label {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5rem);
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 3px solid var(--primary-dark);
    }
    &::placeholder {
      color: var(--color-grey-dark-1);
      font-size: 2rem;
    }
    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }
  }
  .label {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.2s;
  }
}
