@import "./utils/mixins";
@import "./global/base";
@import "./global/typography";
@import "./utils/variables";
@import "./utils/utilites";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  //percentages instead of pixels allows user to override this value in his browser settings
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 55%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 45%;
  }

  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  padding: 3rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
}
