@import "./global/typography";
@import "./global/base";
@import "./utils/mixins";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  //percentages instead of pixels allows user to override this value in his browser settings
  font-size: 62.5%;
}

body {
  padding: 3rem;
  @include whiteThemeColors;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  body {
    @include darkThemeColors;
  }
}
