html,
body {
  font-family: Lato, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
