html {
  //setting font-size on percentages instead of pixels allows user to override this value in browser setting
  font-size: 62.5%;
}
body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 3rem;
  --primary-light: rgb(126, 213, 111);
  --primary-light-rgb: 126, 213, 111;
  --primary-mid: rgb(85, 197, 122);
  --primary-mid-rgb: 85, 197, 122;
  --primary-dark: rgb(40, 180, 133);
  --primary-dark-rgb: 40, 180, 133;
  --bg-color: white;
  --text-color: #777;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  body {
    --primary-light: rgb(18, 151, 62);
    --primary-light-rgb: 18, 151, 62;
    --primary-mid: rgb(20, 148, 110);
    --primary-mid-rgb: 20, 148, 110;
    --primary-dark: rgb(18, 126, 108);
    --primary-dark-rgb: 18, 126, 108;
    --text-color: white;
    --bg-color: #777;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
/*
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
